
.menu{
  background-color: #df78ef;
  width: 18%;
  padding: 30px 0 30px 0;
  height: calc(100vh - 44px);
  top: 44px;
  transition: left .25s cubic-bezier(.4,0,.2,1);
  box-sizing: border-box;
  position: fixed;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  &Item {
    vertical-align: middle;
    cursor: pointer;
    padding: 5px 0 5px 11%;
    &:hover{
      background-color: #D287DE;
    }
    & span{
      font-size: 17px;
      padding: 10px;
      font-weight: 300;
      vertical-align: middle;
      color: white;
    }
  }
}
.menu.hiden{
  left: -18%;
  background-color: #df78ef;
  width: 18%;
  padding: 30px 0 30px 0;
  height: calc(100vh - 44px);
  transition: left .25s cubic-bezier(.4,0,.2,1);
  box-sizing: border-box;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  &Item{
    vertical-align: middle;
    cursor: pointer;
    padding: 5px 0 5px 11%;
  }
}

.calendarIcon{
  border: 2px solid white;
  border-radius: 7px;
  width: 20px;
  height: 21px;
  font-size: 11px;
  display: inline-block;
  text-align: center;
  color: white;
}

@media (max-width: 768px) {
  .menu{
    background-color: #df78ef;
    width: 30%;
    padding: 30px 0 30px 0;
    height: calc(100vh - 44px);
    top: 44px;
    transition: left .25s cubic-bezier(.4,0,.2,1);
    box-sizing: border-box;
    position: fixed;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    &Item {
      vertical-align: middle;
      cursor: pointer;
      padding: 5px 0 5px 11%;
      &:hover{
        background-color: #D287DE;
      }
      & span{
        font-size: 17px;
        padding: 10px;
        font-weight: 300;
        vertical-align: middle;
        color: white;
      }
    }
  }
  .menu.hiden{
    left: -30%;
    background-color: #df78ef;
    width: 30%;
    padding: 30px 0 30px 0;
    height: calc(100vh - 44px);
    transition: left .25s cubic-bezier(.4,0,.2,1);
    box-sizing: border-box;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    &Item{
      vertical-align: middle;
      cursor: pointer;
      padding: 5px 0 5px 11%;
    }
  }
}
@media (max-width: 500px) {
  .menu{
    width: 50%;
  }
}
