@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/RibeyeMarrow-Regular.woff) format('woff');
}

.App{
  font-family: 'MyFont', sans-serif;
  background-color: #cadbe3;
}

.app-inner{
  display: grid;
  grid-template-areas:
  'n' 'c';
  grid-template-columns: 1.8fr 7.8fr;
  margin-left: 20%;
  margin-right: 20%;
}